[gui]
	recentrepo = G:/Git Gui
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = 李慧敏
	email = 362169885@qq.com
